body{
    margin: 0;
    padding: 0;
}

.table2{
    border-spacing: 0 20px;
}

.box-content1{
    background-color: darkred;
    text-align: center;
}

.box-content2{
    background-color: deeppink;
    text-align: center;
}

.box-content3{
    background-color: brown;
    text-align: center;
}

.box_text_color{
    color: white;
    padding: 10px;
    margin: 0;
}

.td_image_width{
    display: block;
    width: 570px;
    height: 400px;
}

p{
    font-family: Arial;
    font-size: 16px;
    color: #3d3d3d;
}