.Container {
    display: flex;
    border: 2px solid black;  
    padding: 10px;

    }
    .item { 
        flex: 1; 
        padding: 20px; 
        margin: 5px; 
        background-color: white; 
        border: 1px solid darkblue; 
        text-align: center; 
    } 
    .item img { 
        width: 100px; 
        height: 100px; 
        display: block; 
        margin: 0 auto 10px; 
    }    

    .item:nth-child(1) { 
        order: 3; 
    } 
    .item:nth-child(2) { 
        order: 1; 
    } 
    .item:nth-child(3) { 
        order: 2; 
    }